/*  1. Style et personnalisation
      1.1 Menu burger 
      1.2 Animations
        1.2.1 Animation des titres
        1.2.2 Animation de la bannière 
      1.3 Swiper characters 
    2. Responsive 




/* 1.1 ------------------------------ Menu burger -------------------------------- */

/* Animations qui font apparaître les liens de menu les uns après les autres avec un effet de fade-in. */
.animation-titre-menu {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}

.animation-titre-menu-2 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.6s;
}

.animation-titre-menu-3 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.9s;
}

.animation-titre-menu-4 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1.2s;
}

/* Animation d'apparition en Fade-In pour le menu */
.animation-menu {
  animation-duration: 1s;
  animation-fill-mode: both;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/* Style pour le menu burger et l'en-tête du site */ 
.site-header {
  background-color:#FFD5A2;
  position:absolute;
  width:100%;
}

.menu-burger {
  visibility:visible;
  background-color:#FFF5E9;
  height:100%;
}

.menu-burger-hidden {
  visibility:hidden;
  height:0px;
}

.titre-menu {
  color:black;
  display:flex;
  flex-direction:row;
  justify-content:center;
  padding:0px;
}

.menu-logo {
  display:flex;
  flex-direction:row;
  justify-content:center;
  padding: 20px 0 20px 0;
}

.menu-logo img {
  height:15%;
  width:15%;
}

.footer-menu {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:flex-end;
  padding-top:60px;
}

/* Menu-burger links */
#menu-burger a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 50px;
  color: black;
  display: block;
  text-align:center;

}

#menu-burger a:hover {
  text-shadow: #FF5C00 1px 0 10px;
  transition-duration: 0.5s;
}

#menu-burger ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Close btn */
.close {
  font-size: 40px;
  background-color:#FFD5A2;
  position:absolute;
  top:0px;
  left:1235px;
}

.close-hidden {
  font-size: 40px;
  background-color:#FFD5A2;
  visibility:hidden;
}

.close-hidden span{
position:absolute;
top:-2px;
right:215px;
}

.close span{
  position:absolute;
  top:-2px;
  right:5px;
  }

/* Icône burger */
.burger-icon span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
  margin: 6px 50px;
}

.burger-icon-hidden {
  visibility:hidden;
}

#openBtn {
  display:flex;
  flex-direction:row;
  position:absolute;
  left:1150px;
  top:15px;

}

/* Placement des images de fleurs et chats en background du menu */
.cat-blue, .cat-orange, .cat-black, .flower-orange, .flower-red, #fleur-violette, .flower-pink, .flower-white {
  position:absolute;
}

.cat-blue {
  top:150px;
  left:250px;
}

.cat-orange {
  bottom:100px;
  left:120px;
}

.cat-black {
  left:1000px;
  top: 400px;
}

.floating-cat {
  overflow: hidden;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

.flower-orange {
  left:160px;
  top:400px;
}

.flower-red {
  right:-160px;
  bottom:-160px;
  height:400px;
  width:400px;
}

.purple-flower {
  position:absolute;
  top: 60px;
  left:-50px;
  visibility:visible;
}


.flower-pink {
  right:-30px;
  bottom:400px;
  height:60px;
  width:60px;
}

.flower-white {
  top:130px;
  left:1000px;
}

/* 1.2 --------------------------------- Animations --------------------------- 

1.2.1 Animation pour les titres (le reste est géré par la librairie AOS.js */

.titre {
  display:inline-block;
}

.titre-composed {
  display:inline-block;
  padding-right:10px;
}

/* 1.2.2 Animation CSS pour la première section de l'accueil (banière image) */ 

.box-logo {
  height:100%;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  padding-top:300px;
}

.animation {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-delay: 0.4s;
  }
    /* Animation de Fade-In vers le haut */
      @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translate3d(0, 25%, 0);
        }
      
        to {
          opacity: 1;
          transform: none;
        }
      }
      
    .fadeInUp {
        animation-name: fadeInUp;
    }

    /* Animation de fade-in vers le bas */
      @keyframes fadeInDown {
      from {
        opacity: 0;
        transform: translate3d(0, -25%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }


/* 1.3 ---------------------- Swiper pour la section characters ----------------------------- */ 

#characters {
  display:flex;
  flex-direction:column;
  width:90%;
}

.titre-characters {
  display:flex;
  justify-content:flex-start;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: left;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-wrapper {
  width:100%;
}

.swiper-slide img {
  display: block;
  width: 85%;
}


  /* ------ Animation de rotation à l'infini pour les fleurs ------ */ 

  .story h2::after, .story__article::after, #studio h2::before, #studio h2::after, .site-footer::before, .site-footer::after, #oscars h3::before, #oscars h3::after, .site-footer ul::after, .flower-orange, .flower-red, #fleur-violette, .flower-pink, .flower-white {
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

  @keyframes rotation {
    100% {transform:rotate(1turn);}
}

  /* -------- Ajout de la section Oscars -------- */

  #oscars h3 {
    background-image: url("../images/oscars-fond.png") ;
    font-size: 3rem;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 3em 2em;
	margin: 0;
	background-position: center;
    color:white;
    text-align:left;
  }



  .section-oscars-boxes::after {
    content: url("../images/logo_oscars_transp.png");
    position:absolute;
    left:70%;
    bottom:44%;
  }

  #oscars h3::before {
    content: url("../images/Sunflower.png");
    position:absolute;
    bottom:70%;
    right:80%;
  }

  #oscars h3::after {
    content: url("../images/orchid.png");
    position:absolute;
    bottom:90%;
    left:93%;
  }

  .section-oscars-boxes {
    display:flex;
    flex-direction:row;
    margin: 100px 0px 75px 0px;
    padding-left:200px;
  }

  .oscars-nomination {
    display:flex;
    flex-direction:row;
    width:20%;
  }

  .titre-oscars-box {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    width:70%;
  }

  /* Disparition des fleurs sur la section studio */
  .site-footer::after {
    visibility:hidden;
  }

  .site-footer::before {
    visibility:hidden;
  }

  /* Ajout de la vidéo dans la première section de l'accueil */
  #background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    }

    .banner {
      min-height: 782px;
    }
   
    @keyframes float {
      0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-50px);
      }
      100% {
        transform: translatey(0px);
      }
    }

    .avatar {
      overflow: hidden;
      animation: float 4s ease-in-out infinite;
    }
    

    .story #place {
      background-image: url("../images/Studio_Koukaki-image_place.png");
    }

    .big-cloud {
      position: absolute;
      left: 1050px;
      top:50px;
    }

    /* -------------- Responsive ------------- */
    

    @media screen and (max-width: 1192px) {
      #oscars h3 {
        font-size: 2.5em;
      }
    }
  
    @media screen and (max-width: 900px) {
      #oscars div {
        width:85%;
        padding-left:15px;
      }
    }

    @media screen and (max-width: 800px) {
      #openBtn {
        display:flex;
        flex-direction:row;;
        justify-content:flex-end;
        position:absolute;
        right:75px;
        bottom:3px;
      }
    }
  
    @media screen and (max-width: 700px) {
      #oscars h3 {
        font-size: 2rem;
      }
      #oscars .section-oscars-boxes::after {
        position:absolute;
        left:60%;
        bottom:40%;
      }
      #background-video {
        visibility:hidden;
      }
    }

    @media screen and (max-width: 600px) {
      #openBtn {
        display:flex;
        flex-direction:row;;
        justify-content:flex-end;
        position:absolute;
        right:10px;
        bottom:3px;
      }
    }
    
    @media screen and (max-width: 400px) {
      #openBtn {
        display:flex;
        flex-direction:row;;
        justify-content:flex-end;
        position:absolute;
        right:0px;
        bottom:3px;
      }
    
      .burger-icon span {
        margin-right:30px;
      }
    }